input:focus{
  outline:0 !important;
}

button:focus{
  outline:0 !important;
}

button:active{
  padding: none;
}

body{
  padding: 20px;
}

input{
  padding: 5px;
  padding-left: 15px;
  margin-top: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

button{
  margin-top: 20px;
  width: 167px;
}